/* regole generali di pagina */

*{
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url("../img/legno.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* regole dell'header */
header {
  width: 70%;
  height: 300px;
  background-color: white;
  margin: 10px auto;
}

.immagine {
  height: 80%;
  background-color: pink;
}

.navbar {
  height:20%;
  background-color: orange;
}

/* stile dei blocchi centrali */

.maincontainer{
  height: 800px;
  width: 70%;
  margin: 30px auto;
  position: relative;
}

.maincontainer:after{
  content:"";
  display: table;
  clear: both;
}

.bloccosx {
  height: 60%;
  width: 20%;
  background-color: red;
  float: left;

}

.bloccocentrale{
  height: 20%;
  width: 40%;
  background-color: red;
  float: left;
  margin: 0 10%;
}

.bloccodx{
  height: 25%;
  width: 20%;
  background-color: red;
  float: right;
}

/* stile blocchi a destra sottostanti */

.bloccodx2{
  height: 25%;
  width: 20%;
  background-color: blue;
  position: absolute;
  right: 0;
  top: 30%;

}

.bloccodx3{
  height: 25%;
  width: 20%;
  background-color: blue;
  position: absolute;
  right: 0;
  top: 60%;
}
