/* regole generali di pagina */

*{
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url("../img/legno.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* regole dell'header */
header {
  width: 70%;
  height: 300px;
  background-color: white;
  margin: 10px auto;
}

.immagine {
  height: 80%;
  background-color: pink;
}

.navbar {
  height:20%;
  background-color: orange;
}

/* stile dei blocchi centrali */

.maincontainer{
  height: 800px;
  width: 70%;
  margin: 30px auto;
  position: relative;
}

.maincontainer:after{

}

.bloccosx {
  height: 60%;
  width: 20%;
  background-color: red;
  float: left;

}

.bloccocentrale{
  height: 20%;
  width: 40%;
  background-color: red;
  float: left;
  margin: 0 10%;
}

/*stile blocchi di destra */
.containerdx {
  height: 100%;
  width: 100%;
  float. right;
}

.p1{
  background-color: blue;
  height: 250px;
  width: 20%;
  margin-bottom: 10px;
  display: inline-block;
}

.p2{
  background-color: blue;
  height: 250px;
  width: 20%;
  float: right;
  margin-bottom: 10px;
  position: relative;

}

.p3{
  background-color: blue;
  height: 250px;
  width: 20%;
  position: absolute;
  top: 530px;
  right: 0;
}

/* stile del footer */

footer{
  width: 70%;
  height: 200px;
  background-color: white;
  margin: 10px auto;
}

.credits{
  height: 35%;
  background-color: grey;

}

.links {
  height: 65%;
  background-color: yellow;
}
